<ion-header>
    <ion-navbar color="blue">
        <div class="header-text" [navPush]="selectLocationPage">
          <span class="text-kims">KIMS</span><br/>
          <span class="text-kbhp">KPHB
               <ion-icon name="arrow-dropdown"></ion-icon>
             </span>
         </div> 
        <ion-buttons end>
          <button ion-button class="scheduleHeaderIcons" [navPush]="searchPage">
            <span class="search"></span>
          </button>
          <button ion-button class="scheduleHeaderIcons" [navPush]="notificationPage">
            <span class="notification"></span>
            <ion-badge color="light" class="notification-bardge">2</ion-badge>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding  class="services-list">
  <ion-grid>
  <ion-row *ngFor="let serviceGroup of serviceGroups">
      <ion-col width-50 class="tile-item" *ngFor="let service of serviceGroup">
       <a href="" class="tileDetails" [navPush]="detailsPage" [navParams]="{serviceName:service.Name}">
          <i class="row listHomeIcon" [ngClass]=service.icon></i>
          <h4 class="title"> {{service.DoctorsCounr}} </h4>
          <h4 class="title"> {{service.Name}} </h4>
        </a>            
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>