<ion-header>
    <header-bar></header-bar>
</ion-header>
<ion-content padding  class="services-list">
  <ion-grid>
  <ion-row *ngFor="let serviceGroup of serviceGroups">
      <ion-col width-50 class="tile-item" *ngFor="let service of serviceGroup">
       <a href="" class="tileDetails" [navPush]="detailsPage" [navParams]="{serviceName:service.Name}">
          <i class="row listHomeIcon" [ngClass]=service.icon></i>
          <h4 class="title"> {{service.DoctorsCounr}} </h4>
          <h4 class="title"> {{service.Name}} </h4>
        </a>            
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>