<ion-content class="content-background" padding>
  <ion-list class="login-list">
	<ion-item class="content-background item">
	    <ion-label>
	    	<ion-icon class="profile icon-align"></ion-icon>
	    </ion-label>
	    <ion-input type="text" value="" placeholder="E-mail | Mobile"  class="input-align"></ion-input>
	</ion-item>
	<ion-item class="content-background item">
	    <ion-label>
	    	<ion-icon class="lock icon-align"></ion-icon>
	    </ion-label>
	    <ion-input type="{{passwordType}}" placeholder="Password" class="input-align"></ion-input>
	</ion-item>
	<div>
    <ion-icon *ngIf="showPassword" class="showPassword password-show icon-align" (click)="showPassword = false; passwordType='text';"></ion-icon>
    <ion-icon *ngIf="!showPassword" class="hidePassword password-show icon-align" (click)="showPassword = true; passwordType='password';"></ion-icon>
  </div>
	<div class="forgot-password"><a class="nav-ctrl" [navPush]="forgotPassword">Forgot Password</a></div>
	<div class="login-submit"><button ion-button class="lin-lout" color="white" (click)="doLogin()">Login</button></div>
    <div class="or">Or</div>
    <div class="register"><a class="nav-ctrl" [navPush]="registerPage">Register</a></div>
  </ion-list>
</ion-content>
