<ion-content padding class="content-background">
   <ion-list class="register-list">
     <ion-item class="content-background item">
       <ion-label>
         <ion-icon class="mail icon-align"></ion-icon>
       </ion-label>
     <ion-input type="email" class="input-align" placeholder="Email"></ion-input>
     </ion-item>
     <ion-item class="content-background item">
       <ion-label>
 	    	<ion-icon class="phone icon-align"></ion-icon>
 	    </ion-label>
 		<ion-input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="input-align" placeholder="Mobile"></ion-input>
     </ion-item>
     <ion-item class="content-background item">
       <ion-label>
 	    	<ion-icon class="lock icon-align"></ion-icon>
 	    </ion-label>
 		  <ion-input type={{passwordType}} placeholder="Password"></ion-input>
     </ion-item>
     	<div>
        <ion-icon *ngIf="showPassword" class="showPassword password-show icon-align" (click)="showPassword = false; passwordType = 'text';"></ion-icon>
        <ion-icon *ngIf="!showPassword" class="hidePassword password-show icon-align" (click)="showPassword = true; passwordType = 'password';"></ion-icon>
      </div>
   </ion-list>
   <div class="terms">
       <a class="terms-text">By registering you agree to our</a>&nbsp;<a class="condition-text">Terms and conditions.</a>
   </div>
   <div class="register-button-div">
     <button ion-button class="lin-lout" color="white">Register</button>
   </div>
   <div class="register-button-div">
     <span class="or">Or</span>
   </div>
   <div class="register-button-div">
     <a class="login" [navPush]="loginPage">Login</a>
   </div>
</ion-content>
