page-notification {
	.notificationcls {
        background:#eaeaea;
    }
	.notificationcls .font-color{
	    color:#63DDED
	}
	.notificationcls .break-fast {
		font-size: 13px;
		padding: 25px 15px 25px 15px;
	}
	.notificationcls hr{
        border-top: 1px solid #63DDED;
    }
    .notificationcls .notification-card {
        box-shadow: none;
    }
    .notificationcls .hartbar-cls{
        z-index: 222;
        position: absolute;
        margin-top: -22px;
        margin-left: 12px;
        width: 100% !important;
        max-width: 18%;
        max-height: 100%;
    }
    .notificationcls .hartbar-rating{
        z-index: 222;
        position: absolute;
        margin-top: -13px;
        margin-left: 42px;
        font-size: 10px;
        color: #fff;
    }
    .notificationcls .phone-button{
        background-color:#63DDED;
        margin-top: 1px;
    }
    .notificationcls a{
        text-decoration:none;
    }
    .notificationcls hr{
        border-top: 1px solid #63DDED;
    }
    .notification .doctor-img{
        min-width: 8.5rem;
        min-height: 10rem;
    }
    .notificationcls .doctor-avatar{
        min-width: 8rem;
        min-height: 8rem;
        margin-top: 0 !important;
    }
    .notificationcls .sub-heading{
        margin-left: 1rem;
    }
    .notificationcls .doctor-card{
        box-shadow: none;
    }
    .notificationcls .doctor-item{
        padding-left: 0;
    }
    .notificationcls .setfont{
        font-size:3em;
    }
    .notificationcls .setpadding{
    	padding-left:0;
    }
    .notificationcls .time-icon{
    	margin-top: 5px;
    }
    .notificationcls .set-card-padding{
    	padding:0;
    	padding-bottom: 5px;
    }
    .notificationcls .button-width{
       max-width:28%;
    }
    .notificationcls .button-font{
	   font-size:11px;
	   padding-top: 20px;
       padding-bottom: 20px;
    }
    .notificationcls .rate-button{
    	margin-left: 37px;
    }
    .notificationcls .time-button{
    	background-color:#63DDED;
    }
    .notificationcls .centercls{
        text-align: center;
    	padding-bottom: 10px;
    }
    .notificationcls .reminder-data{
    	padding-left: 25px;
    	padding-right: 5px;
    }
    .notificationcls .button-phone-cancel{
    	margin-top: 14%;
    }
}
