
// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@charset "UTF-8";


@font-face {
  font-family: "proHelath";
  src:  url("../assets/fonts/Pro-Health.ttf") format("truetype");
font-weight: normal;}
@font-face {
  font-family: Bariol Regular;
  src:  url("../assets/fonts/font-family.ttf") format("truetype");
font-weight: normal;}

ion-app{
    font-family: Bariol Regular !important;
}

.profile{

}

.lock{

}

.showPassword{

}

.hidePassword{

}

.back-arrow{

}

.phone{

}

.mail{

}

.search{

}

.bell{

}

.tooth{

}

.head{

}

.cardio{

}

.neck{

}

.brain{

}

.heart{

}

.person{

}

.ion-ios-file,
.ion-ios-file-outline,
.ion-md-file{

}

.calendar{

}

.heartbeat{

}

.rupee{

}

.time{

}

.speedmeter{

}

.feature{

}

.plant{

}

.throat{

}

.molecule{

}

.meter{

}

.inject{

}

.plus{

}

.note{

}

.upload{

}

.photo{

}

.tablet{

}

.correct{

}

.dumbell{

}

.apple{

}

.profile:before{
	 content: "\0041";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.lock:before{
	 content: "\0042";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.showPassword:before{
	 content: "\0043";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.hidePassword:before{
	content: "\0044";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.back-arrow:before{
	content: "\0045";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.phone:before{
	content: "\0046";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.mail:before{
	content: "\0047";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.search:before{
	content: "\0048";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.bell:before{
	content: "\0049";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.tooth:before{
	content: "\004A";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.head:before{
	content: "\004B";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.cardio:before{
	content: "\004C";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.neck:before{
	content: "\004D";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.brain:before{
	content: "\004E";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.heart:before{
	content: "\004F";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.person:before{
	content: "\0050";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.ion-ios-file,
.ion-ios-file-outline,
.ion-md-file:before{
	content: "\0051";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.calendar:before{
	content: "\0052";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.heartbeat:before{
	content: "\0053";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.rupee:before{
	content: "\0054";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.time:before{
	content: "\0055";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.speedmeter:before{
	content: "\0056";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.feature:before{
	content: "\0057";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.plant:before{
	content: "\0058";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.throat:before{
	content: "\0059";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.molecule:before{
	content: "\005A";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.meter:before{
	content: "\005B";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.inject:before{
	content: "\0061";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.plus:before{
	content: "\0062";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.note:before{
	content: "\0063";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.upload:before{
	content: "\0064";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.photo:before{
	content: "\0065";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.tablet:before{
	content: "\0066";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.correct:before{
	content: "\0067";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.dumbell:before{
	content: "\0068";
  font-family: proHelath;
  font-size:40px;
}
.apple:before{
	  content: "\0069";
    font-family: proHelath;
    font-size:45px;
}
.timetablet:before{
    content: "\006C";
    font-family: proHelath;
    color:#63DDED;
    font-size: 50px !important;
}
.delete:before{
    content: "\006D";
    font-family: proHelath;
    color:white;
}
.location:before{
    content: "\006E";
    font-family: proHelath;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
/* global css */
.content-background{
   background: #63DDED !important;
}

.lin-lout{
    width: 70%;
    color: #63DDED;
    height: 60px;
    border-radius: 32px;
    font-weight: bold;
    background: #fff !important;
}

.login-submit{
  text-align: center;
  margin-top:5%;
}

.icon-align{
  color:#ebebeb;
  font-size:30px;
}

/* Schedule css*/
.edit{

}
.edit:before {
 content: "\006f";
 font-family:proHelath;
 color: white;
}

.medicine:before {
 content: "\0066";
 font-family:proHelath;
 font-size: 50px;
 color: white;
}
.scheduleTime{

}
.scheduleTime:before{
  content:'\0055';
  font-family:proHelath;
  font-size: 50px;
  color: #63DDED;
}
.rating{

}
.rating:before{
  content:'\0053';
  font-family:proHelath;
  color:#F84E41;
  font-size:50px;
}
.ion-ios-scheduler,
.ion-ios-scheduler-outline,
.ion-md-scheduler
{

}
.ion-ios-scheduler,
.ion-ios-scheduler-outline,
.ion-md-scheduler:before{
  content:'\0052';
  font-family:proHelath;
  font-size:30px;
}
.notification{

}
.notification:before{
  content:'\0049';
  font-family:proHelath;
  font-size: 3em;
}
.search{

}
.search:before{
  content:'\0048';
  font-size: 33px;
}
.addRemainder{

}
.addRemainder:before{
  content:'\0062';
  font-family:proHelath;
  font-size: 55px;
}
.appointments{

}
.appointments:before{
  content:'\0067';
  font-family:proHelath;
  font-size: 50px;
  color: #4F4F4F;
}.appointments{

}
.appointments:before{
  content:'\0067';
  font-family:proHelath;
  font-size: 50px;
  //color: #4F4F4F;
}
.appointmentsHidden{

}
.appointmentsHidden:before{
  content:'\0067';
  font-family:proHelath;
  font-size: 50px;
  color:white;
}
.appointmentsTxt{
  color:white;
}
.medicineHidden{

}
.medicineHidden:before{
  content:'\0066';
  font-family:proHelath;
  font-size: 50px;
  color:4F4F4F;
}

/* end of schedule css */

.upload-icon{
    text-align: right !important;
    width: 50%;
    color: #63DDED !important;
    font-size: 3em !important;
}
.photo-icon{
    text-align: left !important;
    width: 50%;
    color: #63DDED !important;
    font-size: 3em !important;
}
.action-sheet-md .action-sheet-title{
    text-align: center;
    color: #63DDED;
}
.action-sheet-wrapper{
    padding-left: 10px;
    padding-right: 10px;
}
.action-sheet-md .action-sheet-container{
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.tabs-md-dark .tabbar .tab-button:hover:not(.disable-hover), .tabs-md-dark .tabbar .tab-button[aria-selected=true]{
    background-color: #63DDED;
    padding:0;
}
.tabs-md .tab-button{
    padding:0;
}
.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text{
    margin:0;
}
.notification-bardge{
    position: absolute;
    top: -1%;
    right: -3%;
    border-radius: 20px;
}
/* action sheet */
.schedule-day-button-enable{
        background: #63DDED !important;
        width: 45px !important;
        min-height: 3.6rem !important;
        border-radius: 15px !important;
        float: left !important;
        margin-left: 5px !important;
        padding: 0 !important;
        margin-top:10px !important;
        margin-bottom:10px !important;
        color: #fff !important;
        border-bottom: none !important;
}
.schedule-day-button-disable{
        background: #FFF !important;
        width: 45px !important;
        min-height: 3.6rem !important;
        border-radius: 15px !important;
        float: left !important;
        margin-left: 4px !important;
        padding: 0 !important;
        margin-top:10px !important;
        margin-bottom:10px !important;
        color: #686868 !important;
        border-bottom: none !important;
}

.date-button{
    border-top: 1px solid #BFBFBF !important;
    border-bottom: 1px solid #BFBFBF !important;
    padding: 0 !important;
    margin-bottom: 10px !important;
    min-height: 35px !important;
    font-size: 13px !important;
    color: #63DDED !important;
    font-weight: bold !important;
}

.timings-button{
    width: 110px !important;
    font-size: 10px !important;
    color: #fff !important;
    background: #303030 !important;
    padding: 0 !important;
    min-height: 3.5rem !important;
    margin-left: 10px !important;
    border-radius: 3px !important;
    margin-bottom: 10px !important;
    border-bottom: none !important;
}

.book-now{
    width: 125px !important;
    min-height: 4rem !important;
    background: #63DDED !important;
    border-radius: 28px;
    padding: 0 !important;
    margin-bottom: 10px !important;
    color: #fff !important;
    font-size: 13px !important;
    font-weight: bold !important;
    border-bottom: none !important;
}

.header-text .text-kims{
   position: absolute;
   margin-top: -10px;
   margin-left: 5px;
   font-size: 12px;
   color: #fff;
}
.header-text .text-kbhp{
   position: absolute;
   margin-top: -13px;
   margin-left: 5px;
   font-size: 15px;
   color: #fff;
}
.loginKey{  

}
.loginKey:before{
  content:'\006A';
  font-family:proHelath;
  font-size:30px;
}
.plus{  

}
.plus:before{
  content:'\0062';
  font-family:proHelath;
  font-size:30px;
}
.minus{ 

}
.minus:before{
  content:'\006B';
  font-family:proHelath;
  font-size:30px;
}