page-records {
    .services-list .tile-item{
        margin: 5px 5px 10px 15px;
        padding-top: 24px;
        padding-bottom: 24px;
        max-width: 42%;
        background: #fff;
    }
    .services-list .title{
        width: 100%;
        font-size: 0.7em;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        text-decoration:none;
        margin-top: -5px;
        color:#000
    }
    .services-list .listHomeIcon{
      font-size: 50px;
        margin-top: 5px;
        text-align: center;
        display: inline-block;
        width: 100%;
        color:#63DDED
    }
    .services-list{
        background:#eaeaea;
    }
    .services-list a{
        text-decoration:none;
    }
    .services-list .segment-cls{
        width: 75%;
        margin-left: 13%;
    }
     .services-list .segment-reports{
            background-color: #fff;
            border-top-left-radius: 64px;
            border-bottom-left-radius: 64px;
            border: none;
            color: #000;    
    }
    .services-list .segment-prescripions{
            background-color: #fff;
            border-top-right-radius: 64px;
            border-bottom-right-radius: 64px;
            border: none;
            color: #000;    
    }
    .services-list .segment-selected{
        background-color: #63DDED !important;
        color:#fff;
    }
    
}
