page-schedule {

}
.scheduleHeader{
  background-color:#63DDED !important;
}
.scheduleHeaderIcons{
      color: white !important;
}
.scheduleContainer{
  background-color:#303030 !important;
  height: 100px !important;
}
.scheduleCard1{
    border-radius: 40px !important;
    background-color:#63DDED !important;
    width: 85px !important;
    height:400% !important;
    margin-left: 25% !important;
}
 .scheduleCard2{
    border-radius: 40px !important;
    width: 85px !important;
    height:400% !important;
    margin-left: 60% !important;
    margin-top: -22% !important;
    background: #666666 !important;
 }
 .scheduleLowerCard{
   height: 160px !important;
 }
 .scheduleBtns{
   max-width: 30.8%;
   word-break: break-word;
   font-size:small;
   margin-bottom: -10%;
 }
 .scheduleTrash{
   margin-left: 35% !important;
 }
.scheduleNme{
  color:#63DDED;
}
.scheduleCard3{
  border-radius: 50% !important;
    width: 15%;
    height: 50px !important;
  // border-radius: 50% !important;
  // width: 25%;
  // height: 90px !important;
}
.scheduleLowerGrid{
  margin-top: 25%;
  margin-left: 35%;
}
.scheduleDiv{
  margin-top: -13%;
  margin-left: 18%;
}
.scheduleMedicine{
  margin-left: 28%;
  margin-top: 17%;
}
.scheduleAppointments{
  margin-left: 22px !important;
  margin-top: 15px !important;
}
.scheduleRemainder{
  color: #63DDED;
  font-size: 75px;
  margin: 35% 42% !important;
}
.scheduleDelete{
border-radius: 50% !important;
width: 40px;
height: 40px !important;
margin-top: -52px !important;
margin-left: 89%;
background-color: #E3583D;
}
.scheduleEdit{
    border-radius: 50% !important;
    width: 40px;
    height: 40px !important;
    margin-top: -10%;
    margin-left: 70%;
    background-color: #63DDED;
}
.editDiv
{
font-size: 26px;
margin-left: 9px;
margin-top: 6px;
}
.deleteDiv
{
    font-size: 28px;
    margin-left: 8px;
    margin-top: 5px;
}
