<ion-header>
    <header-bar></header-bar>
</ion-header>

<ion-content>
  <!--remainders grid-->
  <ion-grid class="scheduleContainer" *ngIf='isRemainder'>
    <ion-card class="scheduleCard1" (click)='showRemainders()'>
        <div class="medicine scheduleMedicine"></div>
    </ion-card>
    <ion-card class="scheduleCard2" (click)='showAppointments()'>
      <div class="appointments scheduleAppointments"></div>
    </ion-card>
    <div style="margin-left: 68px;margin-bottom: 2%;">
      <span class='remainderTxt'>Remainders</span>
      <span class='appointmentsTxt'>Appointments</span>
    </div>
</ion-grid>
<!--Appointments grid-->
<ion-grid class="scheduleContainer" *ngIf='isAppointments'>
<ion-card class="scheduleHideCard1" (click)='showRemainders()'>
    <div class="medicineHidden hiddenScheduleMedicine"></div>
</ion-card>
<ion-card class="scheduleHideCard3" (click)='showDietDetails()'>
  <div class="apple dietManagement"></div>
</ion-card>
<ion-card class="scheduleHideCard2" >
  <div class="appointmentsHidden scheduleAppointments"></div>
</ion-card>
<div style="margin-left:2%;margin-bottom: 2%;">
  <span class='appointmentsTxt'>Remainders</span>
  <span class='remainderTxt'>Appointments</span>
  <span class='appointmentsTxt' style="margin-left:2%">Diet</span>
</div>
</ion-grid>
<!--diet grid-->
<ion-grid class="scheduleContainer" *ngIf='isDiet'>
<ion-card class="scheduleHideCard1" (click)='showAppointments()'>
    <div class="appointments dietAppointment"></div>
</ion-card>
<ion-card class="scheduleHideCard3" (click)='showWorkoutPlan()'>
  <div class="dumbell dietWorkout"></div>
</ion-card>
<ion-card class="scheduleHideCard2" >
  <div class="apple dietManagementActive"></div>
</ion-card>
<div style="margin-left:2%;margin-bottom: 2%;">
  <span class='appointmentsTxt'>Appointments</span>
  <span class='remainderTxt'style="margin-left:3%;" >Diet</span>
  <span class='appointmentsTxt' style="margin-left:12%">Workout</span>
</div>
</ion-grid>
<!--Workout grid-->
<ion-grid class="scheduleContainer" *ngIf='isWorkout'>
  <ion-card class="workoutcard2">
      <div class="dumbell workoutActive"></div>
  </ion-card>
  <ion-card class="workoutcard1"  (click)='showDietDetails()'>
    <div class="apple scheduleAppointments"></div>
  </ion-card>
  <div style="margin-left:11%;margin-bottom: 2%;">
    <span class='appointmentsTxt'>Diet</span>
    <span class='remainderTxt' style="margin-left: 16%;">Workout</span>
  </div>
</ion-grid>
<ion-card class="scheduleLowerCard" *ngIf='isRemainder '>
  <ion-card-header>
      <span class='timetablet'></span>
      <div class='scheduleDiv'>
      <span class="scheduleNme">Prozac</span><br/>
      <span>15 Jan to 23 Jan</span>
    </div>
    <div class="editDeleteContainer">
   <ion-card class='scheduleEdit'><div class='edit editDiv'></div></ion-card >
   <ion-card class='scheduleDelete'><div class='delete deleteDiv'></div></ion-card >
   </div>
  </ion-card-header>
  <ion-card-content >
    <button ion-button color="dark" round  class="scheduleBtns">Breakfast<br/>8:00 am</button>
    <button ion-button color="dark" round class="scheduleBtns" >Lunch<br/>12:30 pm</button>
    <button ion-button color="dark" round class="scheduleBtns">Dinner<br/>8:30 pm</button>
  </ion-card-content>
</ion-card>
<!-- <ion-grid class="scheduleLowerGrid"> -->
  <!-- <ion-card class="scheduleCard3"  color="blue" (click)="showRemainderPopup()"> -->
  <!-- <div class="addRemainder scheduleRemainder"></div> -->
<span (click)="showRemainderPopup()" *ngIf='isRemainder'><ion-icon ios="ios-add-circle" md="md-add-circle" class="scheduleRemainder"></ion-icon></span>
  <!-- </ion-card> -->
<!-- </ion-grid> -->
</ion-content>

<ion-content class="doctors-list"  *ngIf='isAppointments' >
  <ion-card class="doctor-card" *ngFor="let doctor of doctors">
  <ion-item class="doctor-item">
    <ion-avatar item-left class="doctor-avatar">
    <img src="{{doctor.image}}" class="doctor-img">
    <img class="hartbar-cls" src="assets/images/hartbar.png">
    <span class="hartbar-rating">{{doctor.Rating}}</span>
    </ion-avatar>
    <h2 class="font-color">{{doctor.Name}}</h2>
    <span>{{doctor.Graduation}},MD- Gastroenterology</span>
    <span>DM- Gastroenterology</span>
    <h5>{{doctor.Graduation}}</h5>
    <p>Gastroenterologist</p>
    <p>{{doctor.Experience}} years experience</p>
  </ion-item>
    <hr>
        <ion-row>
              <ion-col width-50>
                <p><ion-icon class="rupee font-color"></ion-icon> {{doctor.Fees}}</p>
                <ion-row>
                    <ion-col width-10 class="setpadding"><ion-icon class="time font-color time-icon"></ion-icon></ion-col>
                    <ion-col>{{doctor.StartTiming}} {{doctor.EndTiming}}</ion-col>
                </ion-row>
              </ion-col>
              <ion-col width-50>
                  <ion-row class="button-phone-booknow">
                          <a href="tel:8143473707">
                          <button ion-fab mini class="phone-button"><ion-icon class="phone"></ion-icon></button></a>
                          <button ion-button  round class='cancelBtn'>cancel</button>
                  </ion-row>
              </ion-col>
        </ion-row>
</ion-card>
<div style="margin-bottom:10px"></div>
</ion-content>

<ion-content *ngIf='isDiet' class="dietListDiv">
  <h4 style="margin-left: 4%;">11 sep 2016</h4>
   <ion-card >
	  <ion-card-header style="text-align:center;">
	   Breakfast<br/>
	   9:00 AM
	   <hr style="border-top: 1px solid #000;">
	  </ion-card-header>
	  <ion-card-content>
	    	<ion-grid>
			  <ion-row style="margin:4%">
			    <ion-col>
			      <img src="assets/images/Bananas.png" style="width:70%">
			      <span style="text-align: center;margin-top:4%;margin-left:10%;">2-Bananas</span>
				</ion-col>
				<ion-col >
			      <img src="assets/images/egg.png" style="width:70%">
			      <span style="text-align: center;margin-top:4%;margin-left: 20%;">1-Egg</span>
				</ion-col>
			  </ion-row>
			</ion-grid>
	  </ion-card-content>
	</ion-card>
</ion-content>

<ion-content *ngIf='isWorkout' class="dietListDiv">
<h4 style="margin-left: 4%;">11 sep 2016</h4>
   <ion-card>
	  <ion-card-header style="text-align:center;color:#63DDED">
	  		Goal for today
	   <hr style="border-top: 1px solid #000;">
	  </ion-card-header>
	  <ion-card-content>
	    	<h4 style="text-align: center;margin-bottom: 5%;">Walk for 30 Min</h4>
	    	<img src="assets/images/workout.png" style="width: 70%;margin: 0% 15%;">
	  </ion-card-content>
	</ion-card>
</ion-content>
