page-schedule {

}
.scheduleHeader{
  background-color:#63DDED !important;
}
.scheduleHeaderIcons{
      color: white !important;
}
.scheduleContainer{
  background-color:#303030 !important;
  height: 100px !important;
}
.scheduleCard1{
    border-radius: 40px !important;
    background-color:#63DDED !important;
    width: 85px !important;
    height:400% !important;
    margin-left: 25% !important;
}
 .scheduleCard2{
    border-radius: 40px !important;
    width: 85px !important;
    height:400% !important;
    margin-left: 60% !important;
    margin-top: -22% !important;
    background: #666666 !important;
 }
 .scheduleLowerCard{
   height: 160px !important;
 }
 .scheduleBtns{
   max-width: 30.8%;
   word-break: break-word;
   font-size:small;
   margin-bottom: -10%;
 }
 .scheduleTrash{
   margin-left: 35% !important;
 }
.scheduleNme{
  color:#63DDED;
}
.scheduleCard3{
  border-radius: 50% !important;
  width: 25%;
  height: 90px !important;
}
.scheduleLowerGrid{
  margin-top: 25%;
  margin-left: 35%;
}
.scheduleDiv{
  margin-top: -13%;
  margin-left: 18%;
}
.scheduleMedicine{
  margin-left: 28%;
  margin-top: 17%;
}
.scheduleAppointments{
  margin-left: 22px !important;
  margin-top: 15px !important;
}
.scheduleRemainder{
  color: #63DDED;
  font-size: 75px;
  margin: 35% 42% !important;
}
.scheduleDelete{
  margin-top: -44px;
  margin-left: 85%;
  color: #EF544D;
  font-size: 32px;
}
.scheduleEdit{
  margin-left: 75%;
  font-size: 30px !important;
  margin-top: -11%;
}
