page-password {
  input[type="email"]::-webkit-input-placeholder {
    color: #ebebeb;
  }

  .password-list{
    margin:30% 10% 0% 10%;
    color: #fff;
  }

  .link-text{
    text-align:center;
    font-size: 18px;
    color:#fff;
  }

  .item{
    border-top: none !important;
    border-bottom:1px solid #fff !important;
    color:#fff;
  }

  .input-align{
     margin-left: 4px !important;
     padding-right: 7px !important;
   }


}
