report-detail-page {
    .services-list .tile-item{
      margin: 5px 5px 10px 5px;
      max-width: 47%;
      background: #fff;
  }
  .services-list .title{
      width: 100%;
      font-size: 0.7em;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      text-decoration:none;
      margin-top: -5px;
      color:#000
  }
  .services-list .listHomeIcon{
    font-size: 50px;
      margin-top: 5px;
      text-align: center;
      display: inline-block;
      width: 100%;
      color:#63DDED;
      padding-top: 18%;
  }
  .services-list{
      background:#eaeaea;
  }
  .services-list a{
      text-decoration:none;
  }
  .photo-icon{
      width: 50%;
      text-align: left;
      font-size: 2em;
      color: #63DDED;
  }
  .uploadicon{
      width: 50%;
      text-align: right;
      font-size: 2em;
      color: #63DDED;
  }
  .services-list .imagecls{
      background: white;
      max-width: 47%;
      margin: 5px;
  }
  .services-list .imagetitle{
      text-align:center;
      margin-top:0;
  }
}
