
<ion-header>
    <ion-navbar color="blue">
        <ion-title>
          Blood reports
        </ion-title>
        <ion-buttons end>
          <button ion-button class="scheduleHeaderIcons" *ngIf="!isToDelete">
            <span class="search"></span>
          </button>
          <button ion-button class="scheduleHeaderIcons" *ngIf="!isToDelete">
            <span class="notification"></span>
            <ion-badge color="light" class="notification-bardge">2</ion-badge>
          </button>
          <button ion-button class="scheduleHeaderIcons" *ngIf="isToDelete" (click)="deletePhotos()">
            <ion-icon name="md-trash" style="font-size:2rem;margin-right: 1rem;"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
</ion-header>

<ion-content padding  class="services-list" >

    <ion-grid>
    <ion-row >
        <ion-col width-50 class="tile-item" (click)="presentActionSheet()">
         <a class="tileDetails">
            <i class="row listHomeIcon" [ngClass]=addGroup.icon ></i>
            <h4 class="title"> {{addGroup.Name}} </h4>
          </a>            
        </ion-col>
        <ion-col width-50 class="tile-item">
         <a class="tileDetails">
            <img src="{{defulat.image}}">
            <h4 class="title"> {{defulat.Name}} </h4>
          </a>            
        </ion-col>
    </ion-row>
      </ion-grid>
    <!-- <ion-row *ngFor="let serviceGroup of serviceGroups"> -->
       <ion-grid  *ngFor="let image of images; let i = index; let even = even; let odd = odd;">
  <ion-row *ngIf="even">
    <ion-col width-50 *ngIf="images[i]" (mouseup)="upEvent()" (mousedown)="downEvent(i)" class="imagecls">
      <img src="assets/images/correct.png" style="position: absolute;max-width: 39%;" *ngIf="image.isDelete">
      <img [src]="images[i].img" >
      <h6 class="imagetitle">Report_{{i}}</h6>
    </ion-col>
    <ion-col width-50 *ngIf="images[i+1]" (mouseup)="upEvent()" (mousedown)="downEvent(i+1)" class="imagecls">
      <img src="assets/images/correct.png" style="position: absolute;max-width: 39%;" *ngIf="images[i+1].isDelete">
      <img [src]="images[i+1].img">
      <h6 class="imagetitle">Report_{{i+1}}</h6>
    </ion-col>
  </ion-row>
</ion-grid>
    <!-- </ion-row> -->

</ion-content>