
<ion-header>
    <ion-navbar color="blue">
        <ion-title>
          Blood reports
        </ion-title>
        <ion-buttons end>
          <button ion-button class="scheduleHeaderIcons">
            <span class="search"></span>
          </button>
          <button ion-button class="scheduleHeaderIcons">
            <span class="notification"></span>
            <ion-badge color="light" class="notification-bardge">2</ion-badge>
          </button>
        </ion-buttons>
      </ion-navbar>
</ion-header>

<ion-content padding  class="services-list" >

    <ion-grid>
    <ion-row >
        <ion-col width-50 class="tile-item" (click)="presentActionSheet()">
         <a class="tileDetails">
            <i class="row listHomeIcon" [ngClass]=addGroup.icon ></i>
            <h4 class="title"> {{addGroup.Name}} </h4>
          </a>            
        </ion-col>
        <ion-col width-50 class="tile-item">
         <a class="tileDetails">
            <img src="{{defulat.image}}">
            <h4 class="title"> {{defulat.Name}} </h4>
          </a>            
        </ion-col>
    </ion-row>
      </ion-grid>
    <!-- <ion-row *ngFor="let serviceGroup of serviceGroups"> -->
       <ion-grid  *ngFor="let image of images; let i = index; let even = even; let odd = odd;">
  <ion-row *ngIf="even">
    <ion-col width-50 *ngIf="images[i]">
      <img [src]="images[i]" >
      <h4 style="background:white;"><b> img_{{i}}</b></h4>
    </ion-col>
    <ion-col width-50 *ngIf="images[i+1]">
      <img [src]="images[i+1]">
      <h4 style="background:white;"><b> img_{{i+1}}</b></h4>
    </ion-col>
  </ion-row>
</ion-grid>
    <!-- </ion-row> -->

</ion-content>